<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container">
        <div class="alert alert-danger my-3 d-flex row justify-content-center">
            Oops, Something went wrong.
        </div>
</div>

<%- include('parts/footer')%>