<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div id="onlineUserCard" class="container py-4">
</div>

<%- include('parts/footer')%>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/home.js"></script>