<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container">
        <div class="d-flex justify-content-center alert alert-danger my-3">
            Oops, Page not Found.
        </div>
</div>

<%- include('parts/footer')%>